/* app */
.app-page{
  background: #f4f4f4;
  font-size: 0.28rem;
}
/* search */
.search{
  padding: 0.4rem 0.5rem;
  /* background-color: #fff; */
}
.search input{
  width: 100%;
  height: 0.6rem;
  padding: 0.04rem 0.08rem;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  outline: none;
}
/* content */
.media-list{
  padding: 0.4rem;
  overflow: hidden;
}
.media-item{
  width: 45%;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 0.1rem;
  overflow: hidden;
}
.media-item .img {
  height: 2rem;
  background-color: #000;
}
/* font */
.media-item .media-title {
  padding: 0.2rem;
  font-size: 0.24rem;
}
.media-item .ctrl{
  overflow: hidden;
  padding: 0rem 0.2rem 0.2rem;
}
