<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>play video</title>
  <style>
    video{
      width: 100%;
    }
  </style>
  <link href="../common/video.min.css" rel="stylesheet">
  <script src="../common/video.min.js"></script>
</head>
<body>
  <!-- <video src="./img/01.flv" controls="controls"></video> -->

  <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup="{}">
      <source src="./img/01.flv" type='video/flv' />
    <!-- <source src="http://视频地址格式1.mp4" type='video/mp4' />
    <source src="http://视频地址格式2.webm" type='video/webm' />
    <source src="http://视频地址格式3.ogv" type='video/ogg' /> -->
</video>
</body>
</html>