<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <style>
        .compute {
            padding-top: 160px;
            text-align: center;
            margin-bottom: 30px;
        }
        .compute button {
            margin-top: 50px;
            padding: 2px 6px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="compute">
            <p>
                总贷款：<input type="text" v-model="totalLoans">
            </p>
            <!-- <input type="checkbox" name="还款" id=""> -->
            <div style="padding: 20px; font-size: 14px; cursor: pointer;" @click="isRepayment = !isRepayment">
                <input style="vertical-align: middle;" type="checkbox" v-model="isRepayment">
                <span style="vertical-align: middle;">提前还款</span>
            </div>
            <p v-if="isRepayment">
                多少月后：<input type="text" v-model="howMonth">
                还款金额：<input type="text" v-model="howMoney">
            </p>
            <button @click="onCompute">计算</button>
        </div>

        <div style="text-align: center;">
            <p>月供：{{ repaymentMonth }}</p>
            <p>本金：{{ principal }}</p>
            <p>总利息：{{ interestTotal }}</p>
            <br>
            <p v-if="isRepayment">剩余贷款：{{ remainMoney }}</p>
            <br>
        </div>

        <div class="preach" v-if="everyMonthList.length">
            <ul class="preach-col preach-header">
                <li class="w-1">期数</li>
                <li class="w-2">本金</li>
                <li class="w-3">利息</li>
                <li class="w-4">剩余贷款</li>
            </ul>
            <ul class="preach-col" v-for="(item, index) in everyMonthList" :key="index">
                <li class="w-1">{{ `第${index + 1}期` }}</li>
                <li class="w-2">{{ Math.round(item.debtMoneyMonth) }}</li>
                <li class="w-3">{{ Math.round(item.interestMonth) }}</li>
                <li class="w-4">{{ Math.round(item.remainDebtMoneyTotal) }}</li>
            </ul>
        </div>
    </div>
</body>
<script src="./compute-loans.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data(){
            return {
                isRepayment: false, // 是否还款
                totalLoans: 1180000, // 贷款金额

                howMonth: 0,
                howMoney: 0,
                remainMoney: 0, // 剩余贷款

                repaymentMonth: 0, // 月供
                principal: 0, // 本金
                interestTotal: 0, // 总利息,

                everyMonthList: []
            }
        },
        methods: {
            onCompute(){
                // 计算月供
                let obj = computeTotal(this.totalLoans)
                this.repaymentMonth = Math.round(obj.repaymentMonth)
                this.principal = Math.round(obj.repaymentTotal - obj.interestTotal)
                this.interestTotal = Math.round(obj.interestTotal)

                // 还款明细
                // let remainDebtMoneyTotal = this.totalLoans
                // for (let i = 0; i < 100; i++) {
                //     let detailObj = computeDetail(remainDebtMoneyTotal, this.repaymentMonth)
                //     remainDebtMoneyTotal = detailObj.remainDebtMoneyTotal // 剩余贷款
                //     this.everyMonthList.push(detailObj)
                // }

                // 提前还款
                if (!this.isRepayment) return;
                this.remainMoney = Math.round(computeMonthly(this.totalLoans, this.howMonth, this.howMoney))
                obj = computeTotal(this.remainMoney)
                this.repaymentMonth = Math.round(obj.repaymentMonth)
                this.principal = Math.round(obj.repaymentTotal - obj.interestTotal)
                this.interestTotal = Math.round(obj.interestTotal)

                // 还款明细
                let remainDebtMoneyTotal = this.remainMoney
                for (let i = 0; i < 100; i++) {
                    let detailObj = computeDetail(remainDebtMoneyTotal, this.repaymentMonth)
                    remainDebtMoneyTotal = detailObj.remainDebtMoneyTotal // 剩余贷款
                    this.everyMonthList.push(detailObj)
                }
            }
        }
    })
</script>
</html>