* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

html, body, .app-page {
  min-height: 100vh;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  width: 100%;
}

/* page */
.app-page {
  background: #f4f4f4;
  font-size: 0.28rem;
}

.server-list {
  padding: 0.1rem 0.2rem;
  overflow: hidden;
}

.server-item {
  padding-left: 0.2rem;
  overflow: hidden;
}